// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i {
  color: #ffcf2d;
}

.review-card {
  display: flex;
  flex-direction: column;
  width: 47%;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review_rating {
  margin: 0px;
}

.star_rating {
  font-size: 20px;
}

.star_rating:hover {
  cursor: pointer;
}
